*{
  margin: 0;
  padding: 0,
}
body{
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  color: white;
  font-family: sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 12px;
  max-width: 800px;
  margin: 10 auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
header h1 {
  padding: 10px;
}
header p {
  line-height: 1.5;
  max-width: 600px;
  border: 2px solid red;
  padding: 6px;
  border-radius: 8px;
}
h2 {
  padding: 8px;
}
.container {
  display: flex;
justify-content: space-between;
  margin: 36px auto;
  padding: 16px;
  max-width: 800px;
  height: 300px;
  background-color: green;
  border: 4px solid white;
  

}
.dealers {
margin: 16px auto;
width: 50%
}

img {
  height: 150px;
  width: auto;
  margin: 10px;
  
}
button {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border-radius: 6px;
  border: none;
  max-width: fit-content;
 
}

.hidden {
  display: none;
  
}

.show{
  display:inline-block
}

#dealers-hand {
  position: relative;
 
}



#dealer-card2{
  position: absolute;
  left: 40px;
}
#dealer-card3{
  position: absolute;
  left: 80px;
}
#dealer-card4{
  position: absolute;
  left: 120px;
}
#dealer-card5{
  position: absolute;
  left: 160px;
}
#player {
  
  padding-top: 16px;
  width: 50%;
  margin: 0 auto;
}
#players-hand {
  display: flex;
  position: relative;
  width: 600px;
}

#player-card2{
  position: absolute;
  left: 40px;
}
#player-card3{
  position: absolute;
  left: 80px;
}
#player-card4{
  position: absolute;
  left: 120px;
}
#player-card5{
  position: absolute;
  left: 160px;
}

.action-area {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.chips button{
  margin-right: 40px;
  margin-left: 40px;
  height: 80px;
  width: 80px;
  color:white;
  background-color: black;
  border-radius: 50%;
  border-style:  double;
  border-width: thick;
  font-size: 24px;
  

}

#ten{
  border-color: red;

}
.disabled{
  opacity: 50%;
}
#twenty{
  border-color: darkgreen;

}
#forty{
  border-color: blue;

}
#hundred{
  border-color: yellow;

}
#all-in{
  border-color: grey;
 
}
#dealers-hand {
  display: inline-flex
}